@import url("./variables.css");
@import url("./library.css");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

#app {
  width: 1512px;
  padding: 0px calc(var(--padding-l) + 1px);
  font-family: var(--primary-font);
}
/* Боди дописал,что бы по центру было на экране */
body {
  display: flex;
  justify-content: center;
}

.logo {
  width: 94px;
  height: 54px;
}

.header {
  padding-top: calc(var(--padding-m) + 10px);
}

.nav {
  width: 516px;
}

.items {
  width: 88px;
}

.item-img {
  height: 20px;
  width: 20px;
}

.main {
  margin-top: calc(var(--margin-m) + 12px);
}

.main__title {
  margin-right: 3rem;
  font-family: var(--third-font);
  font-weight: 100;
}

.main__text {
  margin-top: var(--margin-m);
}

.main__img {
  width: 655px;
  height: 655px;
}

.button-wrapper {
  margin-top: calc(var(--margin-l) - 5px);
}

.button {
  padding: calc(var(--padding-s) - 2px) calc(var(--margin-xl) + 7px);
  border: 1px solid var(--primary-border);
  background: inherit;
}

.about-us__img {
  height: 664px;
  width: 560px;
}

.about-us__info {
  width: 564px;
}

.about-us__info > .title {
  justify-content: start;
  font-family: var(--third-font);
}

.about-us__description {
  margin-top: var(--margin-m);
  color: var(--secondary-color);
  line-height: 27px;
}

.about-us__info > .button-wrapper {
  margin-top: calc(var(--margin-l) + var(--margin-m));
}
/* Работа практика */
.benefits article {
  display: flex;
  align-items: center;
}
.why-choose-ua {
  flex-direction: column;
}
.title-benefits {
  font-family: var(--third-font);
  font-weight: 600;
  padding-bottom: 60px;
}
.sub-title {
  width: 1268px;
  height: 88px;
}
.block-benefits {
  display: flex;
}

.block-benefits-img img {
  width: 40px;
  height: 40px;
  margin-right: var(--margin-s);
}
.block-benefits-text {
  display: flex;
  flex-direction: column;
  width: 192px;
  height: 88px;
}
.block-benefit-title {
  padding-bottom: var(--padding-s);
  font-family: var(--third-font);
  font-weight: 600;
  line-height: 124.52%;
  width: 222px;
  height: 22px;
  margin-bottom: var(--margin-s);
  color: var(--primary-color);
}
.block-benefit-subtitle {
  font-weight: 400;
  font-size: var(--fs-xs);
  line-height: 146%;
  color: var(--third-color);
}
.block-benefit-subtitle-three {
  width: 261px;
  height: 46px;
}
.benefits-banner {
  padding-top: 160px;
  margin-left: -56px;
}
.benefits-banner img {
  width: 1512px;
  height: 240px;
}
/* Каталог*/

.catalog-article-box {
  display: flex;
  flex-direction: column;
}
.catalog-title {
  text-align: center;
  padding-bottom: var(--padding-xl);
}
.catalog-box-wrapper {
  display: flex;
  flex-direction: column;
}
.catalog-box__img {
  width: 440px;
  height: 440px;
}
.catalox-box__subtitle {
  text-align: center;
  padding-top: 37px;
  font-family: var(--third-font);
  font-weight: 600;
  font-size: var(--fs-m);
  line-height: 124.52%;
}

/* comments */
.comments-container {
  display: flex;
  position: relative;
  width: 968px;
  padding-bottom: 160px;
  left: 170px;
}
.comments-personal {
  display: flex;
  flex-direction: column;
  width: 474px;
  height: 172px;
  background: #dfdfdf;
  padding: 28px;
}
.comments-name-img {
  display: flex;
  align-items: center;
}
.comments-name-img img {
  width: 50px;
  height: 50px;
}
.comments-name-img span {
  font-weight: 600;
  font-size: var(--fs-m);
  line-height: 130%;
  color: var(--secondary-color);
  font-family: var(--third-font);
  padding-left: 14px;
}
.comments-text {
  padding-top: 24px;
}
.comments-text span {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: var(--secondary-color);
}
.comments-personal__kristina {
  position: absolute;
  border: 1px solid #777777;
  background-color: inherit;
  left: 245px;
  top: 195px;
}
.comments-personal-julia {
  position: absolute;
  left: 494px;
}
.comments-personal-anastasia {
  margin-top: 34px;
  margin-right: 20px;
  z-index: 2;
}
.info-container-comments {
  position: absolute;
  top: 350px;
  right: 300px;
}
.info-container-comments label {
  left: 250px;
}

/* bestsellers */

.bestsellers-subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 37px;
  font-family: var(--third-font);
  font-weight: 600;
  font-size: var(--fs-m);
  line-height: 124.52%;
}
.price {
  padding-right: 19px;
}
.price-button {
  border: 1px solid #000000;
  border-radius: 3px;
  background-color: inherit;
  width: 40px;
  height: 40px;
}
/* Catalog button bottom */
.catalog-box__button {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.catalog__button_left,
.catalog__button {
  width: 12px;
  height: 12px;
  background: #777777;
  border-radius: 3px;
}
.catalog__button {
  background: #dfdfdf;
  margin-left: 13px;
}
.catalog-down-button {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.catalog-button-down {
  width: 200px;
  height: 58px;
  border: 1px solid #2e2927;
  background-color: inherit;
  font-weight: 400;
  font-size: var(--fs-s);
  line-height: 124.52%;
}
/* individual container */
.individual-order-fon {
  width: 1512px;
  height: 800px;
  background-image: url(../public/images/backgrounds/background-1.png);
  margin-left: -56px;
}
.individual-title {
  font-family: var(--third-font);
  font-weight: 600;
  font-size: var(--fs-l);
  line-height: 124.52%;
}
.individual-title .form-container {
  display: flex;
  flex-direction: column;
}
.individual-login-container {
  padding-top: 100px;
  padding-left: 56px;
}
.individual-login__box {
  padding-top: 60px;
}
.form-container {
  display: flex;
  flex-direction: column;
  padding-top: 28px;
}
.form-container input {
  background-color: inherit;
  width: 560px;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  outline: none;
  padding-top: 7px;
}
.form-container label {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: var(--fs-xs);
  line-height: 124.52%;
  color: var(--secondary-color);
}
.form-button_box {
  padding-top: 15px;
}
.form-button {
  background-color: var(--secondary-color);
  color: #ffffff;
  width: 191px;
  height: 48px;
  font-weight: 400;
  font-size: 16px;
  line-height: 124.52%;
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-button img {
  margin-right: 15px;
  width: 13.87px;
  height: 15.7px;
}
.form-button__send {
  padding-top: 60px;
  padding-bottom: 23px;
}
.form__send {
  font-weight: 400;
  font-size: var(--fs-s);
  line-height: 124.52%;
  background-color: inherit;
  color: #2e2927;
  border: 1px solid #2e2927;
  width: 302px;
  height: 58px;
}
.form-text__buttom {
  color: var(--secondary-color);
  font-weight: 400;
  font-size: var(--fs-xs);
  line-height: 140%;
}

/* footer */
.info {
  margin-top: var(--margin-xl);
}
.info-footer {
  display: flex;
}
.info-messenger {
  display: flex;
  flex-direction: column;
}
.info-logo-footer {
  width: 94px;
  height: 54px;
}
.info-messenger-icon {
  padding-top: 24px;
}
.info-messenger-icon img {
  margin-right: 20px;
  width: 40px;
  height: 40px;
}
.info-navigation {
  width: 1400x;
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
}
.info-information {
  margin-right: 254px;
}
.info-navigation span {
  font-weight: 500;
  font-size: var(--fs-m);
  line-height: 150%;
}
.info-navigation-info {
  display: flex;
  flex-direction: column;
  padding-top: 42px;
}
.info-navigation-info a {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: var(--fs-s);
  line-height: 124.52%;
  color: var(--third-color);
}
.info-address {
  padding-right: 190px;
}
.info-getintouch {
  width: 320px;
}
.info-container {
  display: flex;
  flex-direction: column;
}
.info-container input {
  background-color: inherit;
  width: 320px;
  border: none;
  border-bottom: 1px solid #dfdfdf;
  outline: none;
  padding-top: 7px;
}
.info-container label {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: var(--fs-xs);
  line-height: 124.52%;
  color: var(--secondary-color);
  position: absolute;
}
.info-container button {
  position: relative;
  width: 24px;
  height: 24px;
  left: 285px;
  border: none;
  background-color: inherit;
  cursor: pointer;
}
.info-container img {
  width: 20px;
  height: 20px;
}
.footer {
  padding-top: 90px;
}
.footer-nav {
  margin-bottom: 30px;
}
.footer-nav a {
  margin-right: 18px;
}
